@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
::-webkit-scrollbar {
    width: 5px; 
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to right, 
        #F3BB61, 
        #F2DF7B
      ); 
    border-radius: 2px;
}
::selection {
    background-color: #F3BB61;
    color: #000000;
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    /* gold color
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; */

    /* gold
    background: linear-gradient(
        to right, 
        #F3BB61, 
        #F2DF7B
      );
      medium
      background-color: #2B2B2D;
      larger
      background-color: #383838; */
}
.profile, .profile-2 {
    opacity: 0;
    visibility: hidden;
    position: absolute; /* Ensure they do not take space in layout */
}

@media (max-width: 700px) {
    .menu{
        opacity: 0;
        visibility: hidden;
        position: absolute; 
    }
    .menu-bar{
        display: none;
    }
    .manubar-2{
        opacity: 1;
        visibility: visible;
        position: static;
    }
    .manubar-2 {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .content{
        height: auto !important;
    }
    .frame{
        height: auto !important;
    }
}

@media (min-width: 1260px) {
    .profile {
        opacity: 1;
        visibility: visible;
        position: static;
    }
   
}

@media (max-width: 1260px) {
    .profile-2 {
        opacity: 1;
        visibility: visible;
        position: static; 
    }
}
body {
    background-color:#121212;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.profile-2 {
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    gap: 20px;
    border: 2px solid #383838;
    width: 950px;
    max-width: 950px;
    min-width: 300px;
}
.part-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: start;
}
.dp-2 {
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100px;
    max-height: 100px;
    min-height: 50px;
    width: 100px;
    max-width: 100px;
    min-width: 50px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #383838;
    justify-content: center;
    display: flex;
}
.dp-2 img {
    position: relative; 
    height: 100px;
    max-height: 100px;
    min-height: 50px;
}
#highlight {
    background-color: #2B2B2D;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: rgb(161, 161, 161);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #383838;
}
hr {
    border: none;
    border-top: 2px solid #383838;
    width: 200px;
}
#link {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #383838;
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.show-btn {
    background-color: #2B2B2D;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: rgb(161, 161, 161);
    border-bottom-left-radius: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-left: 2px solid #383838;
    border-bottom: 2px solid #383838;
  
}
#pop-up {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.9s ease, visibility 0.9s ease, max-height 0.9s ease;
}
#pop-up.show {
    opacity: 1;
    visibility: visible;
    max-height: 450px; 
}
.profile {
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border: 2px solid #383838;
}
.dp {
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 150px;
    width: 150px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    border: 2px solid #383838;
}
#highlight {
    background-color: #2B2B2D;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: rgb(161, 161, 161);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #383838;
}
hr {
    border: none;
    border-top: 2px solid #383838;
    width: 200px;
}
#link {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #383838;
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.content {
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    border-radius: 20px;
    border: 2px solid #383838;
    overflow: hidden;
    max-width: 950px;
    min-width: 300px;
    width: 950px;
    height: 630px;
}
.menu{
    justify-content: end;
    display: flex;
    position: relative;
  
}
.menu-bar{
    background-color: #2B2B2D;
    border-left: 2px solid #383838;
    border-bottom: 2px solid #383838;
    border-bottom-left-radius: 20px;
    padding: 25px;
}
.menu-btn{
    padding: 20px;
    text-decoration: none;
    color: rgb(161, 161, 161);
}
.manubar-2{
    justify-content: center;
    position: fixed;
    bottom: 0;
    display: none;
}
.menu-bar-2{
    background: rgba(43, 43, 45, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px); 
    border-top: 2px solid #383838;
    padding: 15px;
    z-index: 50;
    width: 700px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.menu-btn-2{
    padding: 8px;
    text-decoration: none;
    color: rgb(161, 161, 161);
}
.menu-btn-2:hover,:focus{
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.menu-btn:hover,:focus{
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.content > div {
    display: none;
}
#home{
    display: block;
    padding: 10px;
}
.about{
    position: relative;
}
.about-content{
    padding: 10px;
    position: relative;
}
P{
    color: rgb(161, 161, 161);
}
.option{
    display: flex;
    background-color: #2B2B2D;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    text-align: center;
    width: 400px;
    height: fit-content;
    border: 2px solid #383838;
    justify-content: space-around;
}
#resume{
    padding: 10px;
}
.resume-content{
    display: flex;
    gap: 10px;
}
.book{
    margin-top: 5px;
    
    background: linear-gradient(to right, #F3BB61, #d3c26a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.year{
    background: linear-gradient(to right, #ebbb6f, #f9e16b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.line-1{
    width: 1.3px;       
    height: 29px;     
    background-color: #383838;
    position: relative; 
    left: 50%; 
}
.line-2{
    width: 1.3px;       
    height: 87px;     
    background-color: #383838;
    position: relative; 
    left: 50%; 
}
.line-3{
    width: 1.3px;       
    height: 126px;     
    background-color: #383838;
    position: relative; 
    left: 50%; 
}
.line-4{
    width: 1.3px;       
    height: 106px;     
    background-color: #383838;
    position: relative; 
    left: 50%; 
}
.dot{
    background: linear-gradient(
        to right, 
        #F3BB61, 
        #F2DF7B
      ); 
      height: 9px;
      width: 9px;
      border: 3px solid #383838;
      border-radius: 50%;
      margin-left: 5px;
}
#project{
    padding: 10px;
}
.project-container{
    position: relative;
    padding: 10px;
    background-color: #2B2B2D;
    border: 2px solid #383838;
    border-radius: 10px;
    text-align: center;
    width: 255px;
}
.project-profile{
    width: 230px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 2px solid #383838;
}
.view a{
    position: relative;
    padding: 10px;
    background-color: #2B2B2D;
    border: 2px solid #383838;
    border-radius: 10px;
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
#contact{
   padding: 10px;
}
.frame{
    padding-right: 10px;
    height: 500px;
    margin: 10px;
    position: relative;
    overflow-y: scroll;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 38.25%;
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
form h2{
    display: flex;
    justify-content: center;
}
form{
    width: 100%;
    margin: 30px;
}
.form-box{
    display: flex;
    justify-content: center;
    background-color: #2B2B2D;
    border: 2px solid #383838;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin-top: 40px;
}
.box-1{
    display: flex;
    margin-right: -10px;
}
input{
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 2px solid #383838;
    color: white;
}
.submit-btn button{
    background-color: #2B2B2D;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: linear-gradient(to right, #F3BB61, #F2DF7B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    border-radius: 15px;
    padding: 10px;
    width: 120px;
    height: 50px;
    border: 2px solid #383838;
    font-size: medium;
}
.submit-btn{
    display: flex;
    justify-content: end;
}
.horizontal{
    display: flex;
    position: relative;
    width: 930px;
    height: 1px;
    background-color: transparent;
}
@media (max-width:1000px){
    .box-1{
        display: block;
        margin-right: 0%;
    }
}
